body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, #2acee0, #22bfd1, #19b1c2, #0fa3b4, #0395a5);
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/font/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/font/Roboto-Bold.ttf');
    font-weight: 700;
}